n8n_poc_simple_agent_workflow.json
{
  "name": "POC Chat Presentation Agent (2 tools + fixed GitHub docs)",
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "options": {
          "initialMessages": "Hi! How can I help?\n\nIf you want a presentation, tell me whether it’s (1) marketing or (2) OOH/ad board, and share the brief."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -780,
        0
      ],
      "id": "f1b2c3d4-e5f6-4a1b-9c8d-0e1f2a3b4c5d",
      "name": "When chat message received",
      "webhookId": "poc_chat_presentation_agent"
    },
    {
      "parameters": {
        "jsCode": "function extractText(obj) {\n  if (obj == null) return '';\n  if (typeof obj === 'string') return obj;\n  if (typeof obj === 'number' || typeof obj === 'boolean') return String(obj);\n  if (Array.isArray(obj)) return obj.map(extractText).join(' ');\n  if (typeof obj === 'object') {\n    const keys = ['chatInput', 'message', 'text', 'input', 'query', 'prompt', 'body', 'content'];\n    for (const k of keys) {\n      if (k in obj) return extractText(obj[k]);\n    }\n    const nestedKeys = ['data', 'payload', 'request', 'webhook', 'body', 'query'];\n    for (const nk of nestedKeys) {\n      if (nk in obj) {\n        const v = extractText(obj[nk]);\n        if (v) return v;\n      }\n    }\n    return '';\n  }\n  return '';\n}\n\nconst presentationRegex = /\\b(presentation|deck|slides?|slide outline|pitch deck|powerpoint|google slides|keynote)\\b/i;\n\nreturn items.map((item) => {\n  const chatInput = (extractText(item.json) || '').trim();\n  const needsPresentation = presentationRegex.test(chatInput);\n\n  return {\n    json: {\n      ...item.json,\n      chatInput,\n      needsPresentation,\n    },\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "id": "aa111111-bbbb-4ccc-8ddd-eeeeeeeeeeee",
      "name": "Route intent"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsPresentation }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ],
      "id": "bb222222-cccc-4ddd-8eee-ffffffffffff",
      "name": "Presentation requested?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/pedromsousalll/testsn8n/main/marketing-presentation-skill/references/RULES.md",
        "responseFormat": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -540,
        0
      ],
      "id": "a1111111-2222-4333-8444-555555555555",
      "name": "Fetch RULES.md"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/pedromsousalll/testsn8n/main/marketing-presentation-skill/references/OUTPUT_FORMAT.md",
        "responseFormat": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -320,
        0
      ],
      "id": "b2222222-3333-4444-8555-666666666666",
      "name": "Fetch OUTPUT_FORMAT.md"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/pedromsousalll/testsn8n/main/shared/references/COMPANY_ASSETS.md",
        "responseFormat": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -100,
        0
      ],
      "id": "c3333333-4444-4555-8666-777777777777",
      "name": "Fetch COMPANY_ASSETS.md"
    },
    {
      "parameters": {
        "jsCode": "function extractBody(nodeName) {\n  const nodeJson = $items(nodeName)[0]?.json ?? {};\n  return nodeJson.body ?? nodeJson.data ?? nodeJson.response ?? '';\n}\n\nconst rules = extractBody('Fetch RULES.md');\nconst outputFormat = extractBody('Fetch OUTPUT_FORMAT.md');\nconst assets = extractBody('Fetch COMPANY_ASSETS.md');\n\nconst routeJson = $items('Route intent')[0]?.json ?? {};\nconst chatInput = (routeJson.chatInput ?? '').trim();\n\nconst system = [\n  'You are a helpful assistant embedded in n8n.',\n  'Chat normally with the user.',\n  '',\n  'You have exactly two tools (skills) available for presentation-building ONLY:',\n  '1) Ad_Board_Presentation: use for OOH/DOOH, billboards, transit, signage, retail boards.',\n  '2) Marketing_Presentation: use for marketing strategy, GTM, campaign plans, pitch decks.',\n  '',\n  'Tool usage policy:',\n  '- If the user is NOT asking to create a presentation/deck/slide outline, answer normally WITHOUT calling any tool.',\n  '- If the user IS asking to create a presentation/deck/slide outline, call exactly one tool that matches:',\n  '  - OOH/ad board/billboard/placements/specs/short-copy/legibility => Ad_Board_Presentation',\n  '  - marketing strategy/channels/budget/KPIs/timeline/plan/pitch deck => Marketing_Presentation',\n  '- If unclear, ask up to 3 clarifying questions, then proceed.',\n  '',\n  '---',\n  '## RULES',\n  rules,\n  '',\n  '---',\n  '## OUTPUT_FORMAT',\n  outputFormat,\n  '',\n  '---',\n  '## COMPANY_ASSETS',\n  assets,\n].join('\\n');\n\nreturn [{ json: { chatInput, agentSystemMessage: system } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "d4444444-5555-4666-8777-888888888888",
      "name": "Build system message"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "systemMessage": "You are a helpful assistant embedded in n8n.\n\nChat normally with the user.\n\nIf the user wants a presentation/deck/slides, ask them to explicitly say so (e.g., \"Make a marketing presentation about...\" or \"Make an OOH/ad board presentation about...\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        -220
      ],
      "id": "cc333333-dddd-4eee-8fff-000000000000",
      "name": "AI Agent (chat)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "responsesApiEnabled": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        360,
        220
      ],
      "id": "e5555555-6666-4777-9888-999999999999",
      "name": "OpenAI Model",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        220
      ],
      "id": "f6666666-7777-4888-a999-aaaaaaaaaaaa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "systemMessage": "={{ $json.agentSystemMessage }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        360,
        0
      ],
      "id": "0a0b0c0d-1111-4222-8333-444444444444",
      "name": "AI Agent (presentations)"
    },
    {
      "parameters": {
        "description": "Generate an OOH/ad-board presentation outline (OOH/DOOH, billboards, transit, signage, retail boards). Input should be a compact brief: product/offer, locations/placements, dates/flighting, audience context, constraints/specs.",
        "language": "javaScript",
        "jsCode": "const input = typeof query === 'string' ? query : JSON.stringify(query);\n\nfunction section(title, bullets) {\n  return `## ${title}\\n${bullets.map(b => `- ${b}`).join('\\n')}`;\n}\n\nconst slides = [\n  { t: 'Slide 1 — Title / Campaign Snapshot', b: ['Campaign name + one-line promise', 'Offer + dates', 'Primary locations/placements', 'Primary KPI'] },\n  { t: 'Slide 2 — Objective & Audience', b: ['Objective', 'Primary audience + context', 'Key insight', 'Desired next action'] },\n  { t: 'Slide 3 — Message Strategy (3-second rule)', b: ['Core message (<= 7 words)', 'Supporting line (optional)', 'CTA (QR/URL/store)', 'Legibility notes'] },\n  { t: 'Slide 4 — Concepts (A/B/C)', b: ['Concept A: headline + visual + CTA', 'Concept B: headline + visual + CTA', 'Concept C: headline + visual + CTA', 'When to use each'] },\n  { t: 'Slide 5 — Placement & Flighting', b: ['Formats (static/DOOH/transit/retail)', 'Rotation/dayparting (if DOOH)', 'Geo rationale', 'Approvals/spec dependencies'] },\n  { t: 'Slide 6 — Measurement + Next Steps', b: ['Measurement plan', 'Reporting cadence', 'Assets checklist', 'Next steps'] },\n];\n\nlet out = `You asked for an ad-board presentation.\\n\\nBrief received:\\n${input}\\n\\n`;\nfor (const s of slides) {\n  out += section(s.t, s.b) + '\\n\\n';\n  out += 'Speaker notes: Keep copy punchy and readable at distance. Confirm specs with media owner.\\n\\n';\n}\nreturn out;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        760,
        -80
      ],
      "id": "11111111-2222-4333-8444-555555555556",
      "name": "Ad_Board_Presentation"
    },
    {
      "parameters": {
        "description": "Generate a marketing presentation outline (strategy/GTM/campaign plan/pitch). Input should be a compact brief: product, audience, goals, constraints, channels, timeline, KPIs.",
        "language": "javaScript",
        "jsCode": "const input = typeof query === 'string' ? query : JSON.stringify(query);\n\nfunction section(title, bullets) {\n  return `## ${title}\\n${bullets.map(b => `- ${b}`).join('\\n')}`;\n}\n\nconst slides = [\n  { t: 'Slide 1 — Title / Exec Summary', b: ['What we are proposing', 'Who it is for', 'Timeframe', 'Single key outcome'] },\n  { t: 'Slide 2 — Context & Problem', b: ['Context', 'Problem/opportunity', 'Why now'] },\n  { t: 'Slide 3 — Audience & Insight', b: ['Segments', 'Key insight', 'Barriers/motivators'] },\n  { t: 'Slide 4 — Positioning & Messaging', b: ['Value prop', '3 message pillars', 'Proof points', 'CTA/offer'] },\n  { t: 'Slide 5 — Plan & Channel Mix', b: ['Approach', 'Channels + rationale', 'Experiments', 'Risks/assumptions'] },\n  { t: 'Slide 6 — Timeline & KPIs', b: ['Milestones', 'North-star metric + KPIs', 'Reporting cadence', 'Next steps'] },\n];\n\nlet out = `You asked for a marketing presentation.\\n\\nBrief received:\\n${input}\\n\\n`;\nfor (const s of slides) {\n  out += section(s.t, s.b) + '\\n\\n';\n  out += 'Speaker notes: Keep it decision-oriented and measurable. Label assumptions.\\n\\n';\n}\nreturn out;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        760,
        80
      ],
      "id": "22222222-3333-4444-8555-666666666667",
      "name": "Marketing_Presentation"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Route intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route intent": {
      "main": [
        [
          {
            "node": "Presentation requested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presentation requested?": {
      "main": [
        [
          {
            "node": "Fetch RULES.md",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RULES.md": {
      "main": [
        [
          {
            "node": "Fetch OUTPUT_FORMAT.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OUTPUT_FORMAT.md": {
      "main": [
        [
          {
            "node": "Fetch COMPANY_ASSETS.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch COMPANY_ASSETS.md": {
      "main": [
        [
          {
            "node": "Build system message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build system message": {
      "main": [
        [
          {
            "node": "AI Agent (presentations)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (presentations)",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent (chat)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (presentations)",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent (chat)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ad_Board_Presentation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (presentations)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing_Presentation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (presentations)",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent (presentations)": {
      "main": [
        []
      ]
    },
    "AI Agent (chat)": {
      "main": [
        []
      ]
    }
  },
  "active": false
}
